
tesseract-ocr/ambiguous_words.1.html
tesseract-ocr/ambiguous_words.exe
tesseract-ocr/classifier_tester.1.html
tesseract-ocr/classifier_tester.exe
tesseract-ocr/cntraining.1.html
tesseract-ocr/cntraining.exe
tesseract-ocr/combine_lang_model.1.html
tesseract-ocr/combine_lang_model.exe
tesseract-ocr/combine_tessdata.1.html
tesseract-ocr/combine_tessdata.exe
tesseract-ocr/dawg2wordlist.1.html
tesseract-ocr/dawg2wordlist.exe
tesseract-ocr/doc/AUTHORS
tesseract-ocr/doc/LICENSE
tesseract-ocr/doc/README.md
tesseract-ocr/iconv.dll
tesseract-ocr/icudt64.dll
tesseract-ocr/icuin64.dll
tesseract-ocr/icuuc64.dll
tesseract-ocr/libarchive-13.dll
tesseract-ocr/libbz2-1.dll
tesseract-ocr/libcairo-2.dll
tesseract-ocr/libcurl-4.dll
tesseract-ocr/libeay32.dll
tesseract-ocr/libexpat-1.dll
tesseract-ocr/libffi-6.dll
tesseract-ocr/libfontconfig-1.dll
tesseract-ocr/libfreetype-6.dll
tesseract-ocr/libgcc_s_seh-1.dll
tesseract-ocr/libgif-7.dll
tesseract-ocr/libglib-2.0-0.dll
tesseract-ocr/libgobject-2.0-0.dll
tesseract-ocr/libgomp-1.dll
tesseract-ocr/libharfbuzz-0.dll
tesseract-ocr/libidn2-0.dll
tesseract-ocr/libintl-8.dll
tesseract-ocr/libjbig-2.dll
tesseract-ocr/libjpeg-8.dll
tesseract-ocr/liblept-5.dll
tesseract-ocr/liblz4-1.dll
tesseract-ocr/liblzma-5.dll
tesseract-ocr/liblzo2-2.dll
tesseract-ocr/libnettle-6.dll
tesseract-ocr/libnghttp2-14.dll
tesseract-ocr/libopenjp2.dll
tesseract-ocr/libpango-1.0-0.dll
tesseract-ocr/libpangocairo-1.0-0.dll
tesseract-ocr/libpangoft2-1.0-0.dll
tesseract-ocr/libpangowin32-1.0-0.dll
tesseract-ocr/libpcre-1.dll
tesseract-ocr/libpixman-1-0.dll
tesseract-ocr/libpng16-16.dll
tesseract-ocr/libssh2-1.dll
tesseract-ocr/libstdc++-6.dll
tesseract-ocr/libtesseract-5.dll
tesseract-ocr/libtiff-5.dll
tesseract-ocr/libunistring-2.dll
tesseract-ocr/libwebp-7.dll
tesseract-ocr/libwinpthread-1.dll
tesseract-ocr/libxml2-2.dll
tesseract-ocr/libzstd-1.dll
tesseract-ocr/lstmeval.1.html
tesseract-ocr/lstmeval.exe
tesseract-ocr/lstmtraining.1.html
tesseract-ocr/lstmtraining.exe
tesseract-ocr/merge_unicharsets.1.html
tesseract-ocr/merge_unicharsets.exe
tesseract-ocr/mftraining.1.html
tesseract-ocr/mftraining.exe
tesseract-ocr/zlib1.dll
tesseract-ocr/wordlist2dawg.exe
tesseract-ocr/wordlist2dawg.1.html
tesseract-ocr/winpath.exe
tesseract-ocr/unicharset_extractor.exe
tesseract-ocr/unicharset_extractor.1.html
tesseract-ocr/unicharset.5.html
tesseract-ocr/unicharambigs.5.html
tesseract-ocr/text2image.exe
tesseract-ocr/text2image.1.html
tesseract-ocr/tesseract.exe
tesseract-ocr/tesseract.1.html
tesseract-ocr/tesseract-uninstall.exe
tesseract-ocr/tessdata/tessconfigs/segdemo
tesseract-ocr/tessdata/tessconfigs/nobatch
tesseract-ocr/tessdata/tessconfigs/msdemo
tesseract-ocr/tessdata/tessconfigs/matdemo
tesseract-ocr/tessdata/tessconfigs/batch.nochop
tesseract-ocr/tessdata/tessconfigs/batch
tesseract-ocr/tessdata/ScrollView.jar
tesseract-ocr/tessdata/piccolo2d-extras-3.0.1.jar
tesseract-ocr/tessdata/piccolo2d-core-3.0.1.jar
tesseract-ocr/tessdata/pdf.ttf
tesseract-ocr/tessdata/osd.traineddata
tesseract-ocr/tessdata/jaxb-api-2.3.1.jar
tesseract-ocr/tessdata/equ.traineddata
tesseract-ocr/tessdata/eng.user-words
tesseract-ocr/tessdata/eng.user-patterns
tesseract-ocr/tessdata/eng.traineddata
tesseract-ocr/tessdata/configs/wordstrbox
tesseract-ocr/tessdata/configs/unlv
tesseract-ocr/tessdata/configs/txt
tesseract-ocr/tessdata/configs/tsv
tesseract-ocr/tessdata/configs/strokewidth
tesseract-ocr/tessdata/configs/rebox
tesseract-ocr/tessdata/configs/quiet
tesseract-ocr/tessdata/configs/pdf
tesseract-ocr/tessdata/configs/makebox
tesseract-ocr/tessdata/configs/lstmdebug
tesseract-ocr/tessdata/configs/lstmbox
tesseract-ocr/tessdata/configs/lstm.train
tesseract-ocr/tessdata/configs/logfile
tesseract-ocr/tessdata/configs/linebox
tesseract-ocr/tessdata/configs/kannada
tesseract-ocr/tessdata/configs/inter
tesseract-ocr/tessdata/configs/hocr
tesseract-ocr/tessdata/configs/get.images
tesseract-ocr/tessdata/configs/digits
tesseract-ocr/tessdata/configs/box.train.stderr
tesseract-ocr/tessdata/configs/box.train
tesseract-ocr/tessdata/configs/bigram
tesseract-ocr/tessdata/configs/api_config
tesseract-ocr/tessdata/configs/ambigs.train
tesseract-ocr/tessdata/configs/alto
tesseract-ocr/ssleay32.dll
tesseract-ocr/shapeclustering.exe
tesseract-ocr/shapeclustering.1.html
tesseract-ocr/set_unicharset_properties.1.html
tesseract-ocr/set_unicharset_properties.exe
tesseract-ocr/tessdata/tgk.traineddata
tesseract-ocr/tessdata/yor.traineddata
tesseract-ocr/tessdata/yid.traineddata
tesseract-ocr/tessdata/vie.traineddata
tesseract-ocr/tessdata/uzb_cyrl.traineddata
tesseract-ocr/tessdata/uzb.traineddata
tesseract-ocr/tessdata/urd.traineddata
tesseract-ocr/tessdata/ukr.traineddata
tesseract-ocr/tessdata/uig.traineddata
tesseract-ocr/tessdata/tur.traineddata
tesseract-ocr/tessdata/ton.traineddata
tesseract-ocr/tessdata/tir.traineddata
tesseract-ocr/tessdata/tha.traineddata
tesseract-ocr/tessdata/tel.traineddata
tesseract-ocr/tessdata/tat.traineddata
tesseract-ocr/tessdata/tam.traineddata
tesseract-ocr/tessdata/syr.traineddata
tesseract-ocr/tessdata/swe.traineddata
tesseract-ocr/tessdata/swa.traineddata
tesseract-ocr/tessdata/sun.traineddata
tesseract-ocr/tessdata/srp_latn.traineddata
tesseract-ocr/tessdata/srp.traineddata
tesseract-ocr/tessdata/sqi.traineddata
tesseract-ocr/tessdata/spa_old.traineddata
tesseract-ocr/tessdata/spa.traineddata
tesseract-ocr/tessdata/snd.traineddata
tesseract-ocr/tessdata/slv.traineddata
tesseract-ocr/tessdata/slk.traineddata
tesseract-ocr/tessdata/sin.traineddata
tesseract-ocr/tessdata/script/Vietnamese.traineddata
tesseract-ocr/tessdata/script/Tibetan.traineddata
tesseract-ocr/tessdata/script/Thai.traineddata
tesseract-ocr/tessdata/script/Thaana.traineddata
tesseract-ocr/tessdata/script/Telugu.traineddata
tesseract-ocr/tessdata/script/Tamil.traineddata
tesseract-ocr/tessdata/script/Syriac.traineddata
tesseract-ocr/tessdata/script/Sinhala.traineddata
tesseract-ocr/tessdata/script/Oriya.traineddata
tesseract-ocr/tessdata/script/Myanmar.traineddata
tesseract-ocr/tessdata/script/Malayalam.traineddata
tesseract-ocr/tessdata/script/Latin.traineddata
tesseract-ocr/tessdata/script/Lao.traineddata
tesseract-ocr/tessdata/script/Khmer.traineddata
tesseract-ocr/tessdata/script/Kannada.traineddata
tesseract-ocr/tessdata/script/Japanese_vert.traineddata
tesseract-ocr/tessdata/script/Japanese.traineddata
tesseract-ocr/tessdata/script/Hebrew.traineddata
tesseract-ocr/tessdata/script/HanT_vert.traineddata
tesseract-ocr/tessdata/script/HanT.traineddata
tesseract-ocr/tessdata/script/HanS_vert.traineddata
tesseract-ocr/tessdata/script/HanS.traineddata
tesseract-ocr/tessdata/script/Hangul_vert.traineddata
tesseract-ocr/tessdata/script/Hangul.traineddata
tesseract-ocr/tessdata/script/Gurmukhi.traineddata
tesseract-ocr/tessdata/script/Gujarati.traineddata
tesseract-ocr/tessdata/script/Greek.traineddata
tesseract-ocr/tessdata/script/Georgian.traineddata
tesseract-ocr/tessdata/script/Fraktur.traineddata
tesseract-ocr/tessdata/script/Ethiopic.traineddata
tesseract-ocr/tessdata/script/Devanagari.traineddata
tesseract-ocr/tessdata/script/Cyrillic.traineddata
tesseract-ocr/tessdata/script/Cherokee.traineddata
tesseract-ocr/tessdata/script/Canadian_Aboriginal.traineddata
tesseract-ocr/tessdata/script/Bengali.traineddata
tesseract-ocr/tessdata/script/Armenian.traineddata
tesseract-ocr/tessdata/script/Arabic.traineddata
tesseract-ocr/tessdata/san.traineddata
tesseract-ocr/tessdata/rus.traineddata
tesseract-ocr/tessdata/ron.traineddata
tesseract-ocr/tessdata/que.traineddata
tesseract-ocr/tessdata/pus.traineddata
tesseract-ocr/tessdata/por.traineddata
tesseract-ocr/tessdata/pol.traineddata
tesseract-ocr/tessdata/pan.traineddata
tesseract-ocr/tessdata/ori.traineddata
tesseract-ocr/tessdata/oci.traineddata
tesseract-ocr/tessdata/nor.traineddata
tesseract-ocr/tessdata/nld.traineddata
tesseract-ocr/tessdata/nep.traineddata
tesseract-ocr/tessdata/mya.traineddata
tesseract-ocr/tessdata/msa.traineddata
tesseract-ocr/tessdata/mri.traineddata
tesseract-ocr/tessdata/mon.traineddata
tesseract-ocr/tessdata/mlt.traineddata
tesseract-ocr/tessdata/mkd.traineddata
tesseract-ocr/tessdata/mar.traineddata
tesseract-ocr/tessdata/mal.traineddata
tesseract-ocr/tessdata/ltz.traineddata
tesseract-ocr/tessdata/lit.traineddata
tesseract-ocr/tessdata/lav.traineddata
tesseract-ocr/tessdata/lat.traineddata
tesseract-ocr/tessdata/lao.traineddata
tesseract-ocr/tessdata/kor.traineddata
tesseract-ocr/tessdata/kmr.traineddata
tesseract-ocr/tessdata/kir.traineddata
tesseract-ocr/tessdata/khm.traineddata
tesseract-ocr/tessdata/kaz.traineddata
tesseract-ocr/tessdata/kat_old.traineddata
tesseract-ocr/tessdata/kat.traineddata
tesseract-ocr/tessdata/kan.traineddata
tesseract-ocr/tessdata/jpn_vert.traineddata
tesseract-ocr/tessdata/jpn.traineddata
tesseract-ocr/tessdata/jav.traineddata
tesseract-ocr/tessdata/ita_old.traineddata
tesseract-ocr/tessdata/ita.traineddata
tesseract-ocr/tessdata/isl.traineddata
tesseract-ocr/tessdata/ind.traineddata
tesseract-ocr/tessdata/iku.traineddata
tesseract-ocr/tessdata/hye.traineddata
tesseract-ocr/tessdata/hun.traineddata
tesseract-ocr/tessdata/hrv.traineddata
tesseract-ocr/tessdata/hin.traineddata
tesseract-ocr/tessdata/heb.traineddata
tesseract-ocr/tessdata/hat.traineddata
tesseract-ocr/tessdata/guj.traineddata
tesseract-ocr/tessdata/grc.traineddata
tesseract-ocr/tessdata/glg.traineddata
tesseract-ocr/tessdata/gle.traineddata
tesseract-ocr/tessdata/gla.traineddata
tesseract-ocr/tessdata/fry.traineddata
tesseract-ocr/tessdata/frm.traineddata
tesseract-ocr/tessdata/frk.traineddata
tesseract-ocr/tessdata/fra.traineddata
tesseract-ocr/tessdata/fin.traineddata
tesseract-ocr/tessdata/fil.traineddata
tesseract-ocr/tessdata/fas.traineddata
tesseract-ocr/tessdata/fao.traineddata
tesseract-ocr/tessdata/eus.traineddata
tesseract-ocr/tessdata/est.traineddata
tesseract-ocr/tessdata/epo.traineddata
tesseract-ocr/tessdata/enm.traineddata
tesseract-ocr/tessdata/ell.traineddata
tesseract-ocr/tessdata/dzo.traineddata
tesseract-ocr/tessdata/div.traineddata
tesseract-ocr/tessdata/deu.traineddata
tesseract-ocr/tessdata/dan.traineddata
tesseract-ocr/tessdata/cym.traineddata
tesseract-ocr/tessdata/cos.traineddata
tesseract-ocr/tessdata/chr.traineddata
tesseract-ocr/tessdata/chi_tra_vert.traineddata
tesseract-ocr/tessdata/chi_tra.traineddata
tesseract-ocr/tessdata/chi_sim_vert.traineddata
tesseract-ocr/tessdata/chi_sim.traineddata
tesseract-ocr/tessdata/ces.traineddata
tesseract-ocr/tessdata/ceb.traineddata
tesseract-ocr/tessdata/cat.traineddata
tesseract-ocr/tessdata/bul.traineddata
tesseract-ocr/tessdata/bre.traineddata
tesseract-ocr/tessdata/bos.traineddata
tesseract-ocr/tessdata/bod.traineddata
tesseract-ocr/tessdata/ben.traineddata
tesseract-ocr/tessdata/bel.traineddata
tesseract-ocr/tessdata/aze_cyrl.traineddata
tesseract-ocr/tessdata/aze.traineddata
tesseract-ocr/tessdata/asm.traineddata
tesseract-ocr/tessdata/ara.traineddata
tesseract-ocr/tessdata/amh.traineddata
tesseract-ocr/tessdata/afr.traineddata
