
tesseract-ocr/ambiguous_words.1.html
tesseract-ocr/ambiguous_words.exe
tesseract-ocr/classifier_tester.1.html
tesseract-ocr/classifier_tester.exe
tesseract-ocr/cntraining.1.html
tesseract-ocr/cntraining.exe
tesseract-ocr/combine_lang_model.1.html
tesseract-ocr/combine_lang_model.exe
tesseract-ocr/combine_tessdata.1.html
tesseract-ocr/combine_tessdata.exe
tesseract-ocr/dawg2wordlist.1.html
tesseract-ocr/dawg2wordlist.exe
tesseract-ocr/doc/AUTHORS
tesseract-ocr/doc/LICENSE
tesseract-ocr/doc/README.md
tesseract-ocr/iconv.dll
tesseract-ocr/icudt64.dll
tesseract-ocr/icuin64.dll
tesseract-ocr/icuuc64.dll
tesseract-ocr/libarchive-13.dll
tesseract-ocr/libbz2-1.dll
tesseract-ocr/libcairo-2.dll
tesseract-ocr/libcurl-4.dll
tesseract-ocr/libeay32.dll
tesseract-ocr/libexpat-1.dll
tesseract-ocr/libffi-6.dll
tesseract-ocr/libfontconfig-1.dll
tesseract-ocr/libfreetype-6.dll
tesseract-ocr/libgcc_s_seh-1.dll
tesseract-ocr/libgif-7.dll
tesseract-ocr/libglib-2.0-0.dll
tesseract-ocr/libgobject-2.0-0.dll
tesseract-ocr/libgomp-1.dll
tesseract-ocr/libharfbuzz-0.dll
tesseract-ocr/libidn2-0.dll
tesseract-ocr/libintl-8.dll
tesseract-ocr/libjbig-2.dll
tesseract-ocr/libjpeg-8.dll
tesseract-ocr/liblept-5.dll
tesseract-ocr/liblz4-1.dll
tesseract-ocr/liblzma-5.dll
tesseract-ocr/liblzo2-2.dll
tesseract-ocr/libnettle-6.dll
tesseract-ocr/libnghttp2-14.dll
tesseract-ocr/libopenjp2.dll
tesseract-ocr/libpango-1.0-0.dll
tesseract-ocr/libpangocairo-1.0-0.dll
tesseract-ocr/libpangoft2-1.0-0.dll
tesseract-ocr/libpangowin32-1.0-0.dll
tesseract-ocr/libpcre-1.dll
tesseract-ocr/libpixman-1-0.dll
tesseract-ocr/libpng16-16.dll
tesseract-ocr/libssh2-1.dll
tesseract-ocr/libstdc++-6.dll
tesseract-ocr/libtesseract-5.dll
tesseract-ocr/libtiff-5.dll
tesseract-ocr/libunistring-2.dll
tesseract-ocr/libwebp-7.dll
tesseract-ocr/libwinpthread-1.dll
tesseract-ocr/libxml2-2.dll
tesseract-ocr/libzstd-1.dll
tesseract-ocr/lstmeval.1.html
tesseract-ocr/lstmeval.exe
tesseract-ocr/lstmtraining.1.html
tesseract-ocr/lstmtraining.exe
tesseract-ocr/merge_unicharsets.1.html
tesseract-ocr/merge_unicharsets.exe
tesseract-ocr/mftraining.1.html
tesseract-ocr/mftraining.exe
tesseract-ocr/zlib1.dll
tesseract-ocr/wordlist2dawg.exe
tesseract-ocr/wordlist2dawg.1.html
tesseract-ocr/winpath.exe
tesseract-ocr/unicharset_extractor.exe
tesseract-ocr/unicharset_extractor.1.html
tesseract-ocr/unicharset.5.html
tesseract-ocr/unicharambigs.5.html
tesseract-ocr/text2image.exe
tesseract-ocr/text2image.1.html
tesseract-ocr/tesseract.exe
tesseract-ocr/tesseract.1.html
tesseract-ocr/tesseract-uninstall.exe
tesseract-ocr/tessdata/tessconfigs/segdemo
tesseract-ocr/tessdata/tessconfigs/nobatch
tesseract-ocr/tessdata/tessconfigs/msdemo
tesseract-ocr/tessdata/tessconfigs/matdemo
tesseract-ocr/tessdata/tessconfigs/batch.nochop
tesseract-ocr/tessdata/tessconfigs/batch
tesseract-ocr/tessdata/ScrollView.jar
tesseract-ocr/tessdata/piccolo2d-extras-3.0.1.jar
tesseract-ocr/tessdata/piccolo2d-core-3.0.1.jar
tesseract-ocr/tessdata/pdf.ttf
tesseract-ocr/tessdata/osd.traineddata
tesseract-ocr/tessdata/jaxb-api-2.3.1.jar
tesseract-ocr/tessdata/equ.traineddata
tesseract-ocr/tessdata/eng.user-words
tesseract-ocr/tessdata/eng.user-patterns
tesseract-ocr/tessdata/eng.traineddata
tesseract-ocr/tessdata/configs/wordstrbox
tesseract-ocr/tessdata/configs/unlv
tesseract-ocr/tessdata/configs/txt
tesseract-ocr/tessdata/configs/tsv
tesseract-ocr/tessdata/configs/strokewidth
tesseract-ocr/tessdata/configs/rebox
tesseract-ocr/tessdata/configs/quiet
tesseract-ocr/tessdata/configs/pdf
tesseract-ocr/tessdata/configs/makebox
tesseract-ocr/tessdata/configs/lstmdebug
tesseract-ocr/tessdata/configs/lstmbox
tesseract-ocr/tessdata/configs/lstm.train
tesseract-ocr/tessdata/configs/logfile
tesseract-ocr/tessdata/configs/linebox
tesseract-ocr/tessdata/configs/kannada
tesseract-ocr/tessdata/configs/inter
tesseract-ocr/tessdata/configs/hocr
tesseract-ocr/tessdata/configs/get.images
tesseract-ocr/tessdata/configs/digits
tesseract-ocr/tessdata/configs/box.train.stderr
tesseract-ocr/tessdata/configs/box.train
tesseract-ocr/tessdata/configs/bigram
tesseract-ocr/tessdata/configs/api_config
tesseract-ocr/tessdata/configs/ambigs.train
tesseract-ocr/tessdata/configs/alto
tesseract-ocr/ssleay32.dll
tesseract-ocr/shapeclustering.exe
tesseract-ocr/shapeclustering.1.html
tesseract-ocr/set_unicharset_properties.1.html
tesseract-ocr/set_unicharset_properties.exe
